{% extends 'emails/base_email.html' %}

{% block content %}
    <h2>Your Password Has Been Changed</h2>
    <p>Hi {{ user.get_full_name|default:user.username }},</p>
    <p>This is a confirmation that the password for your {{ site_name }} account has been successfully changed.</p>
    
    <p>If you did not make this change, please secure your account and contact our support team immediately.</p>
    
    <p>You can log in to your account with your new password here:</p>
    
    <a href="{{ site_url }}{% url 'account_login' %}" class="button">Log In Now</a>
{% endblock %}